<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Website Prototype</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
<div class="profiles">

    <div class="profile-card">
        <h2>Adriano Cellucci</h2>
        <p>Hi, my name is Adriano, and I’m a fourth-year Information Technology Honours student at York University.
        My passions are data analytics, software development and problem sovling. I enjoy learning and working with 
        all sorts of tools and technologies. Node.JS, JavaScript, WebSocket and Express technologies have become 
        some of my favourite to learn about. I have a deep interst in the capabilites of Artificial intelligence, 
        and I'm curious to see how it will evolve the future of Web development! This website showcases my work, my 
        academic background, and the technical skills I’ve developed throughout my studies at York University.</p>
    </div>

    <div class="profile-card">
        <h2>Michael Duong</h2>
        <p>I’m a fourth-year Information Technology Honours student at York University with a passion for learning, 
            particularly in software development, data analysis, and emerging technologies like AI. Through past 
            projects, I’ve gained hands-on experience with HTML, CSS, JavaScript, and backend development using 
            Node.js and MySQL. By completing this project, I expanded my skills by learning how to integrate MongoDB 
            for database management, implement middleware for server-side logic, and use WebSockets for real-time 
            communication. Overall, this website reflects my academic journey and the technical background 
            I’ve developed at York.</p>
    </div>

    <div class="profile-card">
        <h2>Joanne Shim</h2>
        <p>I’m a fourth-year Commerce & IT student specializing in e-commerce development, combining a strong 
            analytical mindset with hands-on experience in data analysis, system design, and full-stack project 
            work. With professional experience across multiple industries, I bring adaptability, attention to 
            detail, and a deep commitment to continuous learning. I’m currently strengthening my skills in Python, 
            SQL, data visualization, and cloud-based tools. Passionate about building efficient, user-focused 
            systems, I approach every project with curiosity, resilience, and a strong drive to grow.</p>
    </div>

</div>

</body>
</html>
